@{
    ViewData["Title"] = "Home Page";
}
<a asp-controller="Register">Register</a>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Please <a href="/Register/">Register here</a>.</p>
</div>
